/**
 * Color Variables
 */

$primary: #25c2b4;
$primary-light: #23d8c8;
$primary-dark: #23d8c8;

$secondary: #25c2b4;
$secondary-light: #23d8c8;
$secondary-dark: #23d8c8;

$tertiary: #25c2b4;
$tertiary-light: #23d8c8;
$tertiary-dark: #23d8c8;

// Greyscale Colors
$black: #4c4c4c;
$dark-grey: #5e5e5e;
$grey: #8c8c8c;
$light-grey: #e8e8e8;
$off-$white: #f7f7f8;
$white: #fff;

// System colors
$error: $carnation;
$success: $lima;
$warning: $carnation;

$colors: ("primary", $primary), ("primary-light", $primary-light),
  ("primary-dark", $primary-dark),
  ("secondary", $secondary) ("secondary-light", $secondary-light),
  ("secondary-dark", $secondary-dark),
  ("tertiary", $tertiary) ("tertiary-light", $tertiary-light),
  ("tertiary-dark", $tertiary-dark),
  // Greyscale colors
    ("black", $black) ("dark-grey", $dark-grey),
  ("light-grey", $light-grey), ("grey", $grey), ("off-white", $off-white),
  ("white", $white),
  // system colors
    ("error", $error) ("success", $success),
  ("warning", $warning);

/* ::Btn color generator */
/* ------------------------------------------------------------ */
@function set-btn-color($color) {
  @if ($color == $black or $color == $dark-grey) {
    @return $white;
  } @else {
    @return $black;
  }
}

@function set-btn-outline-color($color) {
  @if ($color == $black or $color == $dark-grey) {
    @return $black;
  } @else {
    @return $white;
  }
}

@each $color in $colors {
  .bg-#{nth($color, 1)} {
    background-color: nth($color, 2);
  }

  .c-#{nth($color, 1)} {
    color: nth($color, 2);
  }

  .bc-#{nth($color, 1)} {
    border-color: nth($color, 2);
  }

  .btn--#{nth($color, 1)} {
    background-color: nth($color, 2);
    border-color: nth($color, 2);
    color: set-btn-color(nth($color, 2));

    &:hover {
      background: darken(nth($color, 2), 10%);
      border-color: darken(nth($color, 2), 10%);
    }
  }

  .btn--reverse--#{nth($color, 1)} {
    background-color: transparent;
    border-color: nth($color, 2);
    color: nth($color, 2);

    &:hover,
    &:focus {
      background: nth($color, 2);
      border-color: nth($color, 2);
      color: set-btn-outline-color(nth($color, 2));
    }
  }
}
