/* Navigation */
.mobile-menu-button {
  border: 0;
  background-color: transparent;
}

.desktop-menu .nav.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.desktop-menu .nav.main-menu a {
  color: #1c393c;
  font-weight: 600;
  font-family: "gibsonsemibold";
  letter-spacing: 0.12em;
  text-transform: uppercase;
  text-decoration: none;
}

.mobile-menu__container {
  background: #1c393c;
  opacity: 0;
  visibility: hidden;
  left: -50px;
  transition: 0.2s ease-in-out;
}

.mobile-menu__container.is-active {
  opacity: 1;
  visibility: visible;
  left: 0;
}

.mobile-menu .nav a {
  text-decoration: none;
  -webkit-transition: 0.2s ease-in-out all;
  -o-transition: 0.2s ease-in-out all;
  transition: 0.2s ease-in-out all;
}

.mobile-menu a {
  color: #f6f6f6;
  font-size: 1.5rem;
}
