<footer class="bg-newsprint c-forest pt6-l pt5 pb4 ph5-l ph4">
  <div class="mw9 center flex flex-wrap flex-nowrap-l justify-between mb5">

    <div class="w-20-l w-50 mb4 mb0-l footer-nav">
      {{ big_kahuna menu="footer-menu" }}
    </div>

  </div>

  <div class="cf mt4 mt0-l">
    <div class="flex items-center flex-wrap">
      <p class="c-forest mr4 w-100 w-auto-l">{{ author_name }} &copy; {{ now format="Y" }} All rights reserved.</p>
      <div class="mb4 mb0-l">
        {{ big_kahuna menu="legal-menu" }}
      </div>
    </div>
  </div>

</footer>
